
<nav>
    <div class="nav-wrapper blue lighten-3">
      <a routerLink="/home" class="brand-logo">Hogar Colombia</a>
      <a href="#" data-target="mobile-hogar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!userLogged"><a routerLink="/security/login">Login</a></li>
        <li *ngIf="userLogged"><a routerLink="/security/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-hogar">
    <li *ngIf="!userLogged"><a routerLink="/security/login">Login</a></li>
    <li *ngIf="userLogged"><a routerLink="/security/logout">Logout</a></li>
  </ul>